$tileBaseColor: black;
$gameHeight: 1000px;
$tileWidth: $gameHeight/60;
$tileHeight: $gameHeight/40*1.1;


#game-window {
	height: $gameHeight;
	margin: 2%;

}

table {
	background: black;
	color: #fff;
	table-layout: fixed;
	border-collapse: collapse;
}

td {
	height: 20px;
	text-align: center;
	width: 20px;
	border: 1px solid #aaa;
}

.tile {
	width: $tileWidth;
	height: $tileHeight;
	overflow: hidden;
	position: relative;
}


.character {
	// position: absolute;
	z-index: 2;
	// height: $tileHeight;
	// width: $tileWidth;
	// text-align: center;
	// line-height: 0.84;
	// font-size: 1.2em;
	// top :0;
	// bottom: 0;
	// right: 0;
	// left: 0;
	// padding-right: 2px;
	// padding-top: 15px;
	// margin: auto;
}

.wall {
	color: #aaa;
	padding-left: 0.05em;
	font-size: 1.7em;
}

.dot {
	color: #fff;
	padding-left: 0.10em;
	// padding-bottom: 2

}

#messages {
	// display: block;
	height: 40px;
	background-color: #eee;
	color: black;

}
