#game-window {
  height: 1000px;
  margin: 2%;
}

table {
  background: black;
  color: #fff;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  height: 20px;
  text-align: center;
  width: 20px;
  border: 1px solid #aaa;
}

.tile {
  width: 16.66667px;
  height: 27.5px;
  overflow: hidden;
  position: relative;
}

.character {
  z-index: 2;
}

.wall {
  color: #aaa;
  padding-left: 0.05em;
  font-size: 1.7em;
}

.dot {
  color: #fff;
  padding-left: 0.10em;
}

#messages {
  height: 40px;
  background-color: #eee;
  color: black;
}
