.tile {
  background-color: black;
  color: #999;
  border: 1px solid #666;
  position: relative;
  width: 13.33333px;
  height: 22px;
}

#game-window {
  height: 800px;
  margin: 2%;
}

#character {
  position: absolute;
  z-index: 2;
  height: 22px;
  width: 13.33333px;
  text-align: center;
  line-height: 0.84;
  font-size: 2.2em;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.wall {
  color: #aaa;
  padding-left: 0.09em;
}

.dot {
  color: #fff;
  padding-left: 0.25em;
  padding-bottom: 2 em;
}
