$tileBaseColor: black;
$gameHeight: 1000px;
$tileWidth: $gameHeight/60;
$tileHeight: $gameHeight/40*1.1;

.main-wrapper {

}

#game-window {
	height: $gameHeight;
	margin: 2%;

}

#messages {
	// display: block;
	height: 120px;
	width: $gameHeight;
	background-color: #eee;
	color: black;
	overflow-y: scroll;
	margin: 0.5% 0 0 2%;

}


table {
	background: black;
	color: #fff;
	table-layout: fixed;
	border-collapse: collapse;
}

td {
	height: 20px;
	text-align: center;
	width: 20px;
	border: 1px solid #aaa;
}

.tile {
	width: $tileWidth;
	height: $tileHeight;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	overflow: hidden;
	// position: relative;
}





// specific tiles
.character {
	z-index: 2;
	// padding-left: 0.10em;
	// padding-top: 0.10em;
	font-size: 1.205em;
	line-height: 1.5;
}

.wall {
	color: #aaa;
	padding-left: 0.05em;
	font-size: 1.7em;
}

.dot {
	color: #fff;
	padding-left: 0.10em;
	// padding-bottom: 2

}

.rat {
	font-size: 1.8em;
	padding-left: 0.07em;
	line-height: 0.9;
	color: #996600
}

.door {
	font-size: 1.8em;
	// line-height: 1.4;
	// padding-bottom: 2em;
	padding-left: 0.03em;

}